<h5>Listado</h5>
<ul class="list-group">
  <li *ngFor="
    let character of characterList;
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;
    let isOdd = odd;
  "
    class="list-group-item d-flex justify-content-between align-item-center"
    [ngClass]="{
      'list-group-item-info': isLast,
      'list-group-item-success': isFirst,
    }"
  >
    <div>
      <span class="text-danger">{{ i + 1 }}. </span>
      <span>{{ character.name }} -</span>
      <strong>Power: </strong>
      <span>{{ character.power }}</span>
    </div>
    <button class="btn btn-danger" (click)="onDeleteCharacter(i)">X</button>
  </li>
</ul>
